*{
	font-family: cambria;
}
.texto-vertical{
	width:1px;
	text-align:center;
	font-size: 15px!important;
}
.back-celda{
	background-color: #303132;
	color: #fff;
}
.borde-celda{
	border-color: #8e8e8e!important;
	min-width: 9rem!important;
	max-width: 9rem!important;
}
.form-control-sm {
	height: calc(1em + 0.5rem + 2px)!important;
}
.table {
	margin-bottom: 0!important;
}
.table-sm th{
	padding: 0.3rem;
}
.table-sm td {
	padding: 0.15rem;
}
.celda-lateral{
	max-width: 2rem!important;
	vertical-align: middle!important;
	padding-left: 0.4rem!important;
}
.mensajito{
	color: red;
	font-weight: bold;
}
table > thead > tr > th{
	vertical-align: middle!important;
	text-align: center;
}
.digrama{
	border: 1px solid black;
	width: 24rem!important;
	height: 24rem!important;
	border-collapse: collapse;
}
.cuadro{
	border: 1px solid black;
	width: 2rem;
	height: 2rem;
}
.borde-arriba{
	border-top: 2px solid black;
}
.borde-derecha{
	border-right: 2px solid black;
}
#punto{
	width: 10px!important;
	height: 10px!important;
	background: red;
	border-radius: 50%;
	position: relative;
	/* -0.3rem */
	left: 11.65rem;
	/* +0.3rem */
	bottom: 12.4rem;
}
@media only screen and (max-width: 767px) {
	.celda-lateral{
		max-width: 2.5rem!important;
		padding-left: 0.2rem!important;
	}
	.texto-vertical{
		font-size: 11px!important;
	}
}
