<!DOCTYPE html>
<html lang="es" xml:lang="es">
	<head>
		<meta charset="utf-8">
		<title>Direccion Estrategica</title>
		<link rel="icon" href="img/logo-fis.png" type="image/png">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/appstyle.css">
		<script src="js/jquery-3.5.1.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jspdf.umd.min.js"></script>
		<script src="js/html2canvas.min.js"></script>
	</head>
	<body>
		<div id="app" class="">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<a class="navbar-brand">
					<img src="img/logo-fis.png" width="35" height="35" alt="" loading="lazy">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item ml-sm-3">
							<a class="nav-link" href="#" @click="CambiarMatriz('FODA')">Matriz FODA</a>
						</li>
						<li class="nav-item ml-sm-5">
							<a class="nav-link" href="#" @click="CambiarMatriz('MPC')">Matriz MPC</a>
						</li>
						<li class="nav-item ml-sm-5">
							<a class="nav-link" href="#" @click="CambiarMatriz('AMOFHIT')">Matriz AMOFHIT</a>
						</li>
						<li class="nav-item ml-sm-5">
							<a class="nav-link" href="#" @click="CambiarMatriz('PEYEA')">Matriz PEYEA</a>
						</li>
					</ul>
				</div>
			</nav>
			<!--- Encabezado -------------------------------------------------------------------------------->
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm">
						<h3 class="text-center m-1 font-weight-bolder">Construcción de Matriz {{Matriz}}</h3>
					</div>
				</div>
				<div class="dropdown-divider"></div>
			</div>
			<!--- Inicio Matriz FODA -------------------------------------------------------------------------------->
				<div v-if="Matriz == 'FODA'">
					<div class="container">
						<div class="row">
							<div class="col-sm-3">
								<p>Seleccione que tipo de atributo desea añadir a la matriz e ingrese el contenido.</p>
							</div>
							<div class="col-sm-3">
								<div class="row">
									<div class="col-sm">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="Fortaleza" value="Fortaleza" v-model="Foda.TipoDato" checked>
											<label class="form-check-label" for="Fortaleza">Fortaleza</label>
										</div>
									</div>
									<div class="col-sm">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="Debilidad" value="Debilidad" v-model="Foda.TipoDato">
											<label class="form-check-label" for="Debilidad">Debilidad</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="Oportunidad" value="Oportunidad" v-model="Foda.TipoDato">
											<label class="form-check-label" for="Oportunidad">Oportunidad</label>
										</div>
									</div>
									<div class="col-sm">
										<div class="form-check">
											<input class="form-check-input" type="radio" id="Amenaza" value="Amenaza" v-model="Foda.TipoDato">
											<label class="form-check-label" for="Amenaza">Amenaza</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<textarea v-model="Foda.DatoFoda" rows="3" id="DatoFoda" class="form-control" style="resize:none;" :placeholder="'Ingrese ' + Foda.TipoDato" v-on:keydown.enter.prevent.self="Agregar()"></textarea>
							</div>
							<div class="col-sm-2 align-self-center">
								<div class="row mb-2">
									<button type="button" @click="Agregar()" class="btn btn-sm btn-success w-75">Añadir</button>
								</div>
								<div class="row">
									<button type="button" @click="Captura()" class="btn btn-sm btn-primary w-75">Generar Matriz</button>
								</div>
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<div class="row">
							<div class="col-sm">
								<div class="table-responsive">
									<table class=" table table-sm table-bordered m-0">
										<tbody id="Foda">
											<tr>
												<th colspan="3" class="text-center back-celda" style="font-size: 20px;">MATRIZ  -  FODA</th>
											</tr>
											<tr>
												<td rowspan="2" class="celda-lateral back-celda"><span id="Texto1" class="texto-vertical">INTERNO</span></td>
												<td class="text-center borde-celda">FORTALEZAS</td>
												<td class="text-center borde-celda">DEBILIDADES</td>
											</tr>
											<tr>
												<td class="borde-celda">
													<ul>
														<li v-for="(Fortaleza, index) in Foda.Fortalezas" :key="index">
															{{Fortaleza}}
														</li>
													</ul>
												</td>
												<td class="borde-celda">
													<ul>
														<li v-for="(Debilidad, index) in Foda.Debilidades" :key="index">
															{{Debilidad}}
														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td rowspan="2" class="celda-lateral back-celda"><span id="Texto2" class="texto-vertical">EXTERNO</span></td>
												<td class="text-center borde-celda">OPORTUNIDADES</td>
												<td class="text-center borde-celda">AMENAZAS</td>
											</tr>
											<tr>
												<td  class="borde-celda">
													<ul>
														<li v-for="(Oportunidad, index) in Foda.Oportunidades" :key="index">
															{{Oportunidad}}
														</li>
													</ul>
												</td>
												<td class="borde-celda">
													<ul>
														<li v-for="(Amenaza, index) in Foda.Amenazas" :key="index">
															{{Amenaza}}
														</li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--- Inicio Matriz MPC -------------------------------------------------------------------------------->
				<div id="Mpc" v-if="Matriz == 'MPC'">
					<div class="container">
						<div class="row mb-1">
							<div class="col-sm-8">
								Elija la cantidad de empresas a evaluar e ingrese los valores para la Ponderación, y Calificación de cada empresa.<br>
								* La suma de los valores de Ponderación debe ser exactamente igual a 1.
							</div>
							<div class="col-sm-2">
								<input type="number" class="form-control form-control-sm" min="2" step="1" v-model="Mpc.NumEmp">
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-success btn-sm" @click="CrearEmpresas()">Generar</button>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="table-responsive">
									<table class="table table-bordered table-sm">
										<thead class="thead-dark">
											<tr>
												<th rowspan="2">EMPRESAS</th>
												<th>FACTORES</th>
												<th>Participacion Mercado</th>
												<th>Publicidad</th>
												<th>Posicion Financiera</th>
												<th>Comercio Electronico</th>
												<th>Servicio al Cliente</th>
												<th>Calidad de Cervicio</th>
												<th>Expansion</th>
												<th>Administra.</th>
												<th>Precio</th>
												<th>TOTAL</th>
											</tr>
											<tr class="table-primary">
												<td>Ponderacion</td>
												<td v-for="(ponderacion, i) in Mpc.Ponderaciones">
													<input type="number" min="0.01" max="1.00" step="0.01" v-model="ponderacion.valor" class="form-control form-control-sm" @input="PuntuarEmpresa()">
												</td>
												<td :style="'font-weight: bold; color:' + Mpc.ColorValido">{{ponderacionTotal}}</td>
											</tr>
										</thead>
										<tbody>
											<template v-for="(empresa, i) in Mpc.Empresas">
											<tr :style="'background-color: '+ Color[i]">
												<td rowspan="2">{{empresa.Nombre}}</td>
												<td>Calificacion</td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c01" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c02" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c03" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c04" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c05" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c06" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c07" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c08" min="0" @input="PuntuarEmpresa()"></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.c09" min="0" @input="PuntuarEmpresa()"></td>
												<td>-</td>
											</tr>
											<tr :style="'background-color: '+ Color[i]">
												<td>Puntuacion</td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p01" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p02" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p03" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p04" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p05" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p06" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p07" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p08" style="text-align:right;" readonly></td>
												<td><input type="number" class="form-control form-control-sm" v-model="empresa.p09" style="text-align:right;" readonly></td>
												<td style="font-weight:bold;">{{empresa.SumaP}}</td>
											</tr>
											</template>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<div class="row">
							<div class="col">
								<div class="table-responsive">
									<table class="table table-sm table-bordered">
										<thead>
											<tr class="table-primary">
												<th v-for="(emp, i) in Mpc.Merito">
													<strong>{{emp.Nombre}}</strong>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="table-secondary">
												<td v-for="(emp, i) in Mpc.Merito">
													<strong>{{emp.Puntaje}}</strong>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<span :style="'font-weight: bold; color:' + Mpc.ColorValido">{{Mpc.Mensajito}}</span>
							</div>
						</div>
					</div>
				</div>
				<!--- Inicio Matriz MEFI -------------------------------------------------------------------------------->
				<div id="Mefi" v-if="Matriz == 'AMOFHIT'">
					<div class="container">
						<div class="row">
							<div class="col">

							</div>
						</div>
					</div>
				</div>
				<!--- Inicio Matriz PEYEA -------------------------------------------------------------------------------->
			<div class="container">
				<div id="Peyea" v-if="Matriz == 'PEYEA'">
					<div class="row">
							<div class="col">
								<div class="table-responsive">
									<table class="table table-bordered table-sm">
										<thead class="thead-dark">
											<tr class="table-info">
												<th colspan="2">POSICIÓN ESTRATÉGICA INTERNA</th>
											</tr>
										</thead>
										<tbody>
											<tr class="table-active">
												<th colspan="2">FUERZA FINANCIERA<span style="float:right;color:blue;"><span style="font-weight:normal;color:black!important;">( Peor: 1 / Mayor: 6 ) | </span> Promedio: {{Peyea.Promedio.FuFi}} </span></th>
											</tr>
											<tr v-for="(item, i) in Peyea.Pei.FuFi">
												<td>{{item.nombre}}</td>
												<td><input type="number" class="form-control form-control-sm" v-model="item.valor" min="1" max="6" @input="CalcularXY()"></td>
											</tr>
											<tr class="table-active">
												<th colspan="2">VENTAJA COMPETITIVA<span style="float:right;color:blue;"><span style="font-weight:normal;color:black!important;">( Peor: -6 / Mayor: -1 ) | </span> Promedio: {{Peyea.Promedio.VeCo}}</span></th>
											</tr>
											<tr v-for="(item, i) in Peyea.Pei.VeCo">
												<td>{{item.nombre}}</td>
												<td><input type="number" class="form-control form-control-sm" v-model="item.valor" min="-6" max="-1" @input="CalcularXY()"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col">
								<div class="table-responsive">
									<table class="table table-bordered table-sm">
										<thead class="thead-dark">
											<tr class="table-info">
												<th colspan="2">POSICIÓN ESTRATÉGIA EXTERNA</th>
											</tr>
										</thead>
										<tbody>
											<tr class="table-active">
												<th colspan="2">ESTABILIDAD DEL AMBIENTE<span style="float:right;color:blue;"><span style="font-weight:normal;color:black!important;">( Peor: -6 / Mayor: -1 ) | </span> Promedio: {{Peyea.Promedio.EsAm}}</span></th>
											</tr>
											<tr v-for="(item, i) in Peyea.Pee.EsAm">
												<td>{{item.nombre}}</td>
												<td><input type="number" class="form-control form-control-sm" v-model="item.valor" min="-6" max="-1" @input="CalcularXY()"></td>
											</tr>
											<tr class="table-active">
												<th colspan="2">FUERZA DE LA INDUSTRIA<span style="float:right;color:blue;"><span style="font-weight:normal;color:black!important;">( Peor: 1 / Mayor: 6 ) | </span> Promedio: {{Peyea.Promedio.FuIn}}</span></th>
											</tr>
											<tr v-for="(item, i) in Peyea.Pee.FuIn">
												<td>{{item.nombre}}</td>
												<td><input type="number" class="form-control form-control-sm" v-model="item.valor" min="1" max="6" @input="CalcularXY()"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm">
							<div style="width: 24rem">
								<span>Conservadora</span>
								<span style="float:right">Agresiva</span>
							</div>
							<div>
								<table class="digrama">
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba borde-derecha"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td><td class="cuadro borde-arriba"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
									<tr><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro borde-derecha"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td><td class="cuadro"></td></tr>
								</table>
								<div id="punto"></div>
							</div>
							<div style="width: 24rem">
								<span>Defensiva</span>
								<span style="float:right">Competitiva</span>
							</div>
						</div>
						<div class="col-sm">
							<div class="table-responsive">
								<table class="table table-bordered table-sm">
									<thead>
										<tr class="table-success">
											<th colspan="2">VALORES FINALES</th>
										</tr>
									</thead>
									<tbody>
										<tr class="table-warning">
											<td>Valor de "x":</td>
											<td>{{Peyea.Datos.x}}</td>
										</tr>
										<tr class="table-warning">
											<td>Valor de "y":</td>
											<td>{{Peyea.Datos.y}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script src="js/vueApp.js" defer></script>
</html>
